.DS_Store
.vscode/
build/
xcuserdata
DerivedData
project.xcworkspace
.classpath
.cxx
.gradle
.idea
.project
.settings
local.properties
android.iml
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
buck-out/
\.buckd/
android/app/libs
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.turbo/
lib/
.eslintcache
.cache
*.tsbuildinfo
target/
**/*.rs.bk
Cargo.lock
